#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .copy-link-header {
    &:hover {
      cursor: pointer;
    }
  }

  .copy-link-header-clicked {
    color: limegreen;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  gap: 1rem;
  text-align: left;

  li {
    max-width: 10rem;
    text-decoration: none;
    display: flex;
    flex: 1;
    justify-content: space-between;
  }
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

@media screen and (max-width: 745px) {
  #root {
    padding: 0.5rem;
  }

  .user-list-avg-container {
    display: block;

    .average-container {
      width: auto;
    }

    .user-list-container {
      width: auto;
    }
  }

  .App {
    .action-buttons-wrapper {
      flex-direction: column;
      padding: 1rem 0.5rem;
    }
  }

  ul {
    padding: 0.1rem 1rem;
  }

  h1 {
    font-size: 2rem;
    line-height: 1.1;
  }

  .buttons-holder {
    padding: 0.5rem;
  }

  .card {
    width: 3rem !important;
    height: 5rem !important;
    font-size: 1.5rem !important;
  }
}
